<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1098134127602-j6h2gv82q3akt1kigpq5h0kb67ibd4hu</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1098134127602-j6h2gv82q3akt1kigpq5h0kb67ibd4hu.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlaywriteUSModern-Regular.ttf</string>
	</array>
</dict>
</plist>
